@font-face {
	font-family: 'Geist Mono';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/ng-super-expressive/assets/geist/GeistMono-Light.woff2) format('woff2');
}

@font-face {
	font-family: 'Geist Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/ng-super-expressive/assets/geist/GeistMono-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Geist Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/ng-super-expressive/assets/geist/GeistMono-Bold.woff2) format('woff2');
}
